<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Help Page</title>
    <link rel="shortcut icon" type="image/png" href="favicon.png"/>
</head>
<body>
    <p>insert help info here</p>
    <p>Back end Author: Xiaofei Cao</p>
    <p>Front end Author: Jimmy Lin<p>
</body>
</html>
