<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DV-Hops trajectory encoding</title>
    <link rel="shortcut icon" type="image/image"  href="favicon.png"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="main.js"></script>
    
    <link rel="stylesheet" href="main.css">
</head>
<body onresize="resizeCanvas()" onload="resizeCanvas();penWidthGetValue();nodesInNetworkGetValue();anchorsInNetworkGetValue();radioRangeGetValue();sensorFieldWidthGetValue();sensorFieldLengthGetValue();trackMouse()">
    <div class="wrapper">
        <div class="sidebar">
            <table>
                <!--first row contains buttons and sliders-->
                <tr height="5%" align="center">
                    <td>
                        <button type="button" id="penButton" onclick="toggleDrawing()">Pen</button>
                    </td>
                    <td>
                        <button type="button" id="hopInfoButton" onclick="toggleHopInfoing()">HopInfo</button>
                    </td>
                    <td>
                        <input type="color" id="color" name="color" value="#696969">
                    </td>
                    <td>
                        <button type="button" id="eraserButton" onclick="erase()">Eraser</button>
                    </td>
                    <td>
                        <button type="button" id="clearButton" onclick="clearCanvas();">Clear</button>
                    </td>
                    <td>
                        <button type="button" id="genWSNsButton" onclick="openGenerateWSNs()">Generate WSNs</button>
                    </td>
                    <td>
                        <input type="range" min="10" max="100" value ="60" class="slider" id="penWidthSlider" oninput="penWidthGetValue()">
                    </td>
                    <td>
                        <p id="penWidthValue"></p>
                    </td>
                    <td>
                        <button type="button" onclick="hideCanvas()">Debug</button>
                    </td>
                    <td>
                         <button type="button" id="routingMSG" onclick="waitForResponseFromServer()">RoutingMSG</button>
                    </td>
                    <td>
                        <button type="button" id="visualizeRouting" onclick="searchWSNs('start')">Visualize RoutingMSGs</button>
                    </td>
					<td>
						<button type="button" onclick="searchNodesPopup()">Search Nodes</button>
					</td>
                    <td>
                        <button type="button" onclick="window.open('helpFile','_blank')">Help Page</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="main" style="position: relative;">
            <img src="" id="canvasImage" style="position: absolute; z-order: 1;margin-top:3%" />
            <canvas id="canvas3" style="border:0.5px solid #000000;margin-top:3%;position:absolute;z-order:2;opacity:0.5;" >
                Your browser does not support canvas.
            </canvas>
            <canvas id="canvas2" style="border:0.5px solid #000000;margin-top:3%;position:absolute;z-order:2;opacity:0.25;" >
                Your browser does not support canvas.
            </canvas>
            <canvas id="canvas" style="border:0.5px solid #000000;margin-top:3%;position:absolute;z-order:2;opacity:0.25;" >
                Your browser does not support canvas.
            </canvas>

        </div>
    </div>

    <!-- div contains Modal, pop up box that opens when Generate WSNs button is clicked-->
    <div id="generateWSNsModal" class="generateWSNsModal">
        <div class="generateWSNsModalContent">
            <div class="generateWSNsModalContainer">
                <!--x button at top left hand corner for closing modal-->
                <span onclick="closeGenerateWSNs()" class="button displayTopRight">x</span>
                <!--table to show content of Generate WSNs-->
                <table>
                    <tr>
                        <td>
                            <p>Choose number of nodes in the network</p>
                        </td>
                        <td>
                            <input type="range" min="101" max="5000" value ="3000" class="slider" id="nodesInNetworkSlider" oninput="nodesInNetworkGetValue()">
                        </td>
                        <td>
                            <p id="nodesInNetworkValue"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Choose number of anchors in the network</p>
                        </td>
                        <td>
                            <input type="range" min="5" max="100" value ="50" class="slider" id="anchorsInNetworkSlider" oninput="anchorsInNetworkGetValue()">
                        </td>
                        <td>
                            <p id="anchorsInNetworkValue"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Choose the sensor radio range</p>
                        </td>
                        <td>
                            <input type="range" min="20" max="200" value ="80" class="slider" id="radioRangeSlider" oninput="radioRangeGetValue()">
                        </td>
                        <td>
                            <p id="radioRangeValue"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Choose the width of the sensor field</p>
                        </td>
                        <td>
                            <input type="range" min="500" max="3000" value ="1300" class="slider" id="sensorFieldWidthSlider" oninput="sensorFieldWidthGetValue()">
                        </td>
                        <td>
                            <p id="sensorFieldWidthValue"></p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Choose the length of the sensor field</p>
                        </td>
                        <td>
                            <input type="range" min="500" max="3000" value ="700" class="slider" id="sensorFieldLengthSlider" oninput="sensorFieldLengthGetValue()">
                        </td>
                        <td>
                            <p id="sensorFieldLengthValue"></p>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <button type="button" onclick="resizeCanvas();resetGenerateNodes();generateNodes();placeNodesOnCanvas();">Confirm</button>
                        </td>
                        <td align="center">
                            <button type="button" onclick="closeGenerateWSNs()">Cancel</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
	
	        <!-- div contains Modal, pop up box that opens when Generate WSNs button is clicked-->
    <div id="loadingBarModal" class="loadingBarModal">
        <div class="loadingBarModalContent">
            <div class="loadingBarModalContainer">
                <!--x button at top left hand corner for closing modal-->
                <span onclick="closeLoadingBar()" class="button displayTopRight">x</span>
                <!--loading bar displaying the status of server response-->
                <div class="progressBar" id="progressBar">
                    <div class="loadingBar" id="loadingBar"></div>
                </div>
                <br /><br />
                <p id="loadingBarMessage">Waiting for server to respond</p>
            </div>
        </div>
    </div>
	
    <!-- div contains Modal, pop up box that opens when Search WSNs button is clicked-->
    <div id="searchingWSNsModal" class="searchingWSNsModal">
        <div class="searchingWSNsModalContent">
            <div class="searchingWSNsModalContainer">
                <!--x button at top left hand corner for closing modal-->
                <span onclick="closeSearchingWSNs()" class="button displayTopRight">x</span>
                <!--text field with a max length of 30 characters -->
                <table align="center">
                    <tr>
                        <td colspan="4">
                            <input type="text" style="height:100px;width:600px;font-size:16pt;" maxlength="30" id="message" name="message" />
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">
                            <button type="button" style="border-radius:50%;font-size:20pt" onclick="searchWSNs('left')"><--</button>
                        </td>
                        <td style="text-align:center">
                            <button type="button" onclick="displayCurrentConstraint()">Display <br /> Current <br /> Constraint</button>
                        </td>
                        <td style="text-align:center">
                            <button type="button" onclick="showArea()">Only <br /> Show <br /> Area</button>
                        </td>
                        <td style="text-align:center">
                            <button type="button" style="border-radius:50%;font-size:20pt" onclick="searchWSNs('right')">--></button>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center">
                            <button type="button" onclick="eraseCovered()">erase covered</button>
                        </td>
                        <td style="text-align:center">
                            <button type="button" onclick="routingSim()">select source</button>
                        </td>
                        <td style="text-align:center">
                            <button type="button" onclick="visSim()">Visualize Routing</button>
                        </td>
                        <td style="text-align:center">
                            <button type="button" onclick="resetSim()">reset routing sim</button>
                        </td>
                    </tr>
                </table>
                
            </div>
        </div>
    </div>
	
	<!-- div contains Modal, pop up box that allows user to search nodes-->
    <div id="searchNodesModal" class="searchNodesModal">
        <div class="searchNodesModalContent">
            <div class="searchNodesModalContainer">
                <!--x button at top left hand corner for closing modal-->
                <span onclick="closeSearchNodes()" class="button displayTopRight">x</span>
				<p id="messageBox">hi</p>
				<input type="text" id="nodeNumber" />
				<button type="button" id="searchButton" onclick="searchNodes()">Search</button>
				<p id="errorMessageBox"></p>
            </div>
        </div>
    </div>
    
    	
	<!--popup when user clicks on a node-->
	<div class="popup" id="popup" onclick="closePopUp()">Empty</div>
</body>
</html>
